@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --color-primary: #202046;
  --color-secondary: #babacf;
  --color-background: #ffffff;

  --fs-xl: 3.2rem;
  --fs-400: 1.8rem;
  --fs-300: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  font-weight: 300;
  color: var(--color-primary);
}

h2 {
  font-size: var(--fs-300);
  font-weight: 700;
}

/* Testimonial */
.testimonial {
  text-align: center;
  width: 85%;
  margin: 5rem auto;
}

.testimonial__photo {
  display: block;
  margin-inline: auto;
  width: 250px;
  border-radius: 5px;
  max-height: 0;
}

.testimonial__photo--active {
  max-height: 100%;
}

.testimonial__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.testimonial__content--active {
  opacity: 1;
  max-height: 100vh;
}

.testimonial__text {
  font-size: clamp(var(--fs-400), 1.4rem + 1vw, var(--fs-xl));
  padding-bottom: 2rem;
  line-height: 1.4;
  quotes: '"' '"';
}

.testimonial__text::before {
  content: open-quote;
  font-style: italic;
}

.testimonial__text::after {
  content: close-quote;
  font-style: italic;
}

.testimonial__job {
  font-size: var(--fs-300);
  font-weight: 500;
  color: var(--color-secondary);
}

.slide__img-container {
  position: relative;
  margin-bottom: 8rem;
}

/* Slider buttons */
.slider__buttons {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  width: 8rem;
  padding: 1.2rem 1.5rem;
  border-radius: 50px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  height: 14px;
  width: 9px;
  cursor: pointer;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* @media screen and (min-width: 600px) {
  .testimonial {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 10%;
  }

  .testimonial__photo {
    width: 45%;
    transform: translateX(-25%);
    z-index: -1;
    margin-bottom: 0;
  }

  .testimonial__content {
    width: 55%;
  }

  .testimonial__author {
    display: flex;
    gap: 0.5rem;
  }

  .button-frame {
    width: 38%;
    padding-bottom: 39%;
    transform: translateX(49%);
  }
}

@media screen and (min-width: 900px) {
  .testimonial__author > * {
    font-size: var(--fs-400);
  }
  .slider__buttons {
    padding: 1.8rem 2rem;
    width: 10rem;
    left: 15%;
  }
} */
